@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('./assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --breakpoint-3xl:1750px;
  --breakpoint-large:2000px;
}

:root {
  --text: #6B7280;
  --text-success:#00A63E;
  --text-h: #111827;
  --text-mute:#6B7280;
  --text-info:#DC2626;
  --text-high:#1A73E8;
  --text-star:#fbcb2d;
  --text-action:#F97316;
  --text-accent:#99A1AF;
  --text-light:#ffff;
  --text-footer-bottom:#6A7282;
  --border: #0000001A;
  --main-border:#1A73E8;
  --action-border:#F97316;
  --accent-border:#364153;
  --container-bg: #F8F9FA;
  --content-deep-bg:#E5E7EB80;
  --main-bg:#1A73E8;
  --primary-bg:#111827;
  --skeleton-bg:#e2e2e2;
  --content-bg:#F3F4F6;
  --input-bg:#F3F4F6;
  --success-bg:#F0FDF4;
  --input-footer-bg:#4A5565;
  --secondary-bg:#1E2939;
  --info-bg:#DC2626;
  --action-bg: #F97316;
  --accent-bg: #1A73E833;
  --social-bg: rgba(244, 243, 236, 0.5); 
  --gradient-info-1-bg: linear-gradient(to right, #00000099, #00000000);
  --gradient-info-2-bg: linear-gradient(to right, #1C398ECC, #1C398E00);
  --gradient-bg: linear-gradient(to right, #1A73E8, #193CB8);
  --gradient-regis-bg: linear-gradient(to right, #1447E6, #312C85);
  --gradient-forgot-bg: linear-gradient(to right, #4F39F6, #1C398E);
  --gradient-herro-bg: linear-gradient(to right, #4F39F6, #8200DB);
  --shadow:rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --sans-serif: 'Inter', sans-serif;

  --font-medium:500;
  --text-medium:14px;

  letter-spacing: 0.18px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
  background: var(--content-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
  font-family: var(--sans-serif);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.68px;
  margin: 10px 0;
  line-height: 115%;
  @media (max-width: 1024px) {
    font-size: 30px;
    margin: 10px 0;
  }
}

h2 {
  font-size: 24px;
  margin: 10px 0px;
}

h3 {
  font-size: 20px;
  color: var(--text-h);
  font-weight: 500;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}



/* ---------------------------- Utilities css -----------------------------------*/

.main-bg{
  background-color: var(--main-bg);
}

.accent-bg{
  background-color: var(--accent-bg);
}

.action-bg{
  background-color: var(--action-bg);
}

.primary-bg{
  background-color: var(--primary-bg);
}

.container-bg{
  background-color: var(--container-bg);
}

.text-light {
  color: var(--text-light);
}

.text-accent {
  color: var(--text-accent);
}

.text-h {
  color: var(--text-h);
}

.input-bg {
  background-color: var(--input-bg);
}

.border-light {
  border: 1px solid var(--border);
}

.border-b-light {
  border-bottom: 1px solid var(--border);
}

.border-b-accent {
  border-bottom: 1px solid var(--accent-border);
}
